@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
  scroll-padding: 50px;
}

:root {
  --text: #0d120f;
  --background: #ecf3ef;
  --primary: #2c6848;
  --secondary: #7ad6a4;
  --accent: #26ba6b;
  --border: rgba(122, 214, 164, .3);
}
.dark {
  --text: #eef8e8;
  --background: #0a1004;
  --primary: #69be2d;
  --secondary: #428019;
  --accent: #57ad1a;
  --border: rgba(66, 128, 25, 0.3);
}
.custom1 {
  --text: #0d1109;
  --background: #f5fbef;
  --primary: #7ed241;
  --secondary: #a8e67f;
  --accent: #8fe552;
  --border: rgba(168, 230, 127, .3);
}